BorderPane {
    -fx-font-family: "Segoe Print";
    -fx-background-color: darkblue;
}

Button {;
    -fx-background-color: orange;
}

.title1 {
    -fx-font-weight: bold;
    -fx-fill: #dc6913;
    -fx-font-size: 40;
}